<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include("./partials/head") %>
    <title>homepage</title>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <!-- <%= JSON.stringify(blogs) %> -->
    <div class="container mt-3 row row-cols-4">
      <% blogs.forEach(blog => { %>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="<%= blog.coverImageURL %>"
            width="300px"
            height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <!-- <p class="card-text"><%= blog.body %></p> -->
            <a href="/blog/<%= blog._id %>" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <%- include("./partials/scripts") %>
  </body>
</html>
