<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include("./partials/head") %>
    <title>Blog</title>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <div class="container mt-3">
      <h1><%= blog.title %></h1>
      <img
        src="<%= blog.coverImageURL %>"
        alt=""
        width="700px"
        height="500px"
      />
      <pre><%= blog.body %></pre>
    </div>

    <div class="container mt-3">
      <img src="<%= blog.createdBy.profileImageURL %>" width="50px" alt="" />
      <%= blog.createdBy.fullName %>
    </div>

    <!--Add Comments -->
    <div class="container mt-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
      <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="mb-3">
          <textarea
            name="content"
            cols="30"
            rows="10"
            class="form-control"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
      <% } %>
    </div>

    <!-- Show comments -->
    <% comments.forEach(comment => { %>
    <div class="container mt-4">
      <img src="<%= comment.createdBy.profileImageURL %>" width="50px" alt="" />
      <%= comment.createdBy.fullName %>
      <pre>Comment : <%= comment.content %></pre>
    </div>
    <% }) %>

    <!--  -->

    <%- include("./partials/scripts") %>
  </body>
</html>
